#!/bin/sh

export PATH=$PATH:$HOME/.local/bin:$HOME/.config/panel
export PANEL_FIFO=/tmp/panel-fifo
export PANEL_HEIGHT=40
export PANEL_FONT="JetBrainsMono Nerd Font Mono:size=10"
export PANEL_WM_NAME=bspwm_panel
export PDFVIEWER_texdoc="zathura"
